extends ./layouts/common
block style
    include ../css/common.css
block content

    table.table.table-striped.table-bordered.table-light
        tr
            th Name
            th Client
            th ResidentID
            th Avatar
            th Phone
            th Address
            th Status
        if drivers.length !== 0
            each driver in drivers
                tr
                    td= driver.name
                    td= driver.client.name
                    td= driver.residentID
                    td= driver.avatar
                    td= driver.phone
                    td= driver.address
                    td= driver.status