extends ./layouts/common
block style
    include ../css/common.css
block content
    form(action="/grossContracts", method="POST")
        button.btn.btn-success.mb-3(type='submit',name='create', value='true',style='float:right;') 
            h5 Start creating gross contract


    if create
        - var clientsObj = JSON.parse(clients)
        #modal-grossContract.modal.fade.show(tabindex='-1', aria-labelledby='exampleModalLabel', style='display: block;', aria-modal='true', role='dialog')
            .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
                form.modal-content(action="/grossContracts", method="POST")
                    .modal-header
                        h5#exampleModalLabel.modal-title Modal title
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') &times;
                    .modal-body
                        table.table.table-borderless
                            tr
                                td Name
                                td
                                    input.form-control(type="text", name ="name")   
                            tr
                                td Client
                                td.form-group
                                    select#clientID.form-control(name='clientID')
                                        each client in clientsObj
                                            option(value=client.clientID)= client.name
                            tr
                                td Signed date
                                td
                                    input.form-control(type="date", name ="signedDate")
                            tr
                                td Start date
                                td
                                    input.form-control(type="date", name ="startDate")
                            tr
                                td Expried date
                                td
                                    input.form-control(type="date", name ="expiredDate")
                            tr
                                td DebtCeiling remain
                                td
                                    input#number_remain.form-control(type="number", readonly, value=clientsObj[0].debtCeiling_remain)
                            tr
                                td DebtCeiling
                                td
                                    input#number.form-control(type="number", name ="debtCeiling", value=0, min=1000000, step=1000000, max=clientsObj[0].debtCeiling_remain)
                            tr
                                td Status
                                td.form-group
                                    select.form-control(name='status')
                                        option(value='active') Active
                                        option(value='inactive') Inactive
                    .modal-footer
                        button.cancel.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                        button.btn.btn-success(type='submit', name='submit',value='true') Create

    table.table.table-striped.table-bordered.table-light
        tr
            th Name
            th Client
            th Signed date
            th Start date
            th Expried date
            th debtCeiling
            th Credit remain
            th Status
        if grossContracts.length !== 0
            each grossContract in grossContracts
                tr
                    td= grossContract.name
                    td= grossContract.client.name
                    td= grossContract.signedDate
                    td= grossContract.startDate
                    td= grossContract.expiredDate
                    td= grossContract.debtCeiling
                    td= grossContract.creditRemain
                    td= grossContract.status

                    

block body_continue
    script(type='text/javascript').
        $(document).ready(function() {

            if(!{create}) {
                $('body').append('<div id="close" class="modal-backdrop fade show"></div>');
                $('body').addClass("modal-open");
                var clients = !{clients};
            }
            $('#clientID').on('change', function() {
                
                for(client of clients) {
                    if(client.clientID === $('#clientID').val()){
                        $('#number').attr('max',client.debtCeiling_remain);
                        $('#number_remain').val(client.debtCeiling_remain);
                        break;
                    }
                }
                
            })
            $(document).on('click', "button.close, button.cancel, #close", function() {
                $('body').removeClass("modal-open");
                $('#modal-grossContract').remove();
                $('#close').remove();
                
            });

        });