extends ./layouts/common
block style
    include ../css/common.css
block content

    table.table.table-striped.table-bordered.table-light
        tr
            th Plate
            th Name
            th Type
            th Image
            th Max quantity
            th Client
        if transports.length !== 0
            each transport in transports
                tr
                    td= transport.plate
                    td= transport.name
                    td= transport.type
                    td= transport.image
                    td= transport.maxQuantity
                    td= transport.client.name